#chat-screen {
  background-color: #fdf3f4;
  height: 100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  top: 0px;
  background-color: #fdf3f4;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: var(--pink);
  background-color: rgb(245, 167, 167, 0.1);
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
  color: #000000;
  border: 2px solid var(--pink);
  line-height: 24px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--pink);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
  color: white;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-chat-me1 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
}
.message-chat-me2 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
  animation-delay: 0.4s;
}
.message-chat-me3 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
  animation-delay: 0.8s;
}
.message-chat-me4 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
  animation-delay: 1.2s;
}
.message-chat-me5 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
  animation-delay: 1.6s;
}
.message-chat-me6 {
  transform: translateX(1000px);
  animation: ChatAniMe 1s ease-in-out forwards;
  animation-delay: 2s;
}

.message__num {
  position: absolute;
  right: 0;
  top: 20px;
  opacity: 0.8;
}

.message-chat-you1 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
}
.message-chat-you2 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
  animation-delay: 0.4s;
}
.message-chat-you3 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
  animation-delay: 0.8s;
}
.message-chat-you4 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
  animation-delay: 1.2s;
}
.message-chat-you5 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
  animation-delay: 1.6s;
}
.message-chat-you6 {
  transform: translateX(-500px);
  animation: ChatAniYou 1s ease-in-out forwards;
  animation-delay: 2s;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--pink);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 96vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
